---
import ArrowDown from 'astro-heroicons/solid/ArrowDown.astro';
import Ticker from '../components/ticker.astro';
---
<div class="w-full h-full flex flex-col bg-bg">
	<!-- Blobs -->
	<div>
		<!-- TODO do I need this? -->
		<!-- <div class="absolute min-h-screen w-full z-30 flex flex-col justify-center items-center">
			<h1 class="text-white text-center text-8xl">
				Harry<br/>
				Bairstow
			</h1>
		</div> -->
		<div class="absolute z-10 h-[800px] lg:h-[600px] w-full bg-gradient-to-b from-transparent to-bg"></div>
		<div class="h-[800px] lg:h-[600px] w-full bg-[url('/assets/blobs.svg')] bg-center"></div>
	</div>
	<!-- Content -->
	<div class="my-6 space-y-6 flex flex-col">
		<!-- Companys Ticker -->
		<div id="company-ticker" class="opacity-75">
			<Ticker images={[
				"/assets/logos/wc.svg",
				"/assets/logos/cbn.svg",
				"/assets/logos/wc.svg",
				"/assets/logos/cbn.svg",
				"/assets/logos/wc.svg",
				"/assets/logos/cbn.svg",
				"/assets/logos/wc.svg",
				"/assets/logos/cbn.svg",
			]} />
		</div>
		<div id="block-1">
			<p>BLOCKS HERE!</p>
		</div>
		<div id="oss-ticker" class="opacity-75">
			<Ticker ltr={true} images={[
				"/assets/logos/supabase.svg",
				"/assets/logos/gleam.svg",
				"/assets/logos/supabase.svg",
				"/assets/logos/gleam.svg",
				"/assets/logos/supabase.svg",
				"/assets/logos/gleam.svg",
				"/assets/logos/supabase.svg",
				"/assets/logos/gleam.svg",
			]} />
		</div>
	</div>
</div>
